<div class="page_title">
    <h1>Afwezigheden</h1>
</div>

<div class="afwezigheid-container">
    <div class="afwezigheid-img">
        <img src="/images/rode-cirkel.svg" alt="">
    </div>
    <div class="afwezigheid-text">
        <p>Hele dag</p>
        <p>onwettig</p>
    </div>
    <div class="afwezigheid-datum">
        <p>10 mei 2023</p>
    </div>
</div>
<div class="afwezigheid-container">
    <div class="afwezigheid-img">
        <img src="/images/gele-cirkel.svg" alt="">
    </div>
    <div class="afwezigheid-text">
        <p>Te Laat</p>
        <p>Wettig</p>
    </div>
    <div class="afwezigheid-datum">
        <p>10 mei 2023</p>
    </div>
</div>

<section class="section-absence">
    <div class="absence-img">
        <img src="/images/absence.svg" alt="Cartoon ziek mens">
    </div>
    <article class="article-form-absence">
        <form action="" class="form-absence">
            <div class="form-bg-white">
                <div class="absence-date">
                    <input type="text" placeholder="Van">
                    <input type="text" placeholder="Tot">
                </div>
                <textarea name="" rows="4" placeholder="Wat is de reden"></textarea>
                <div class="absence-upload">
                    <p>Upload je brief hier:</p>
                    <div class="upload--absence">
                        {{> upload}}
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn--send" value="Versturen">
            </div>
        </form>
    </article>
</section>
