<div class="right_title">
    <h1>Feedback</h1>
</div>

<section class="feedback-coach">
    <ul class="feedback-list">
        {{#each userFeedbackdata}}
        <li>
            {{> feedback-coach}}
        </li>
        {{/each}}
    </ul>
</section>

{{> post-feedback}}
