<div class="right_title">
    <h1>Feedback</h1>
</div>

<section class="feedback-coach">
    <ul class="feedback-list">
        {{#each userFeedbackdata}}
        <li>
            {{> feedback-coach}}
        </li>
        {{/each}}
    </ul>
</section>

<form action="/feedbackDashboard" method="POST">
    <div>    
        <label for="feedback">FEEDBACK</label><br>
        <textarea name="text" id="feedback" placeholder="Voer hier je feedback in" required></textarea>
    </div>
    <div>
        <label for="student">VOOR WELKE STUDENT IS DEZE FEEDBACK?</label><br>
        <select name="student" id="student" required>
            <option disabled selected>Selecteer student ...</option>
            {{#each students}}
            <option value="{{id}}">{{firstname}}</option>
            {{/each}}
        </select>
    </div>
    <br><br>
    <button type="submit">Verstuur feedback</button>
</form>
