<div class="page_title">
    <h1>Rapport</h1>
</div>

{{#each points}}
    <p>{{ id }}</p>
    <p>{{ subjects.name }}</p>
    <p>{{ subjects.teacher.firstname }} {{ subjects.teacher.lastname }}</p>
{{/each}}

