
<article>
    <div class="page-title">
        <h1>Nederlands</h1>
    </div>

    <div class="detail">
        <div class="button-container">
            <div class="button_button">
                <button class="punten_document">
                    <img src="/images/punten.svg" alt="">
                    <p> Punten</p>
                </button>
            </div>

            <div class="button_button">
                <button class="punten_document">
                    <img src="/images/documenten.svg" alt="">
                    <p>Documenten</p>
                </button>
            </div>
        </div>
        <div class="button_button">
            {{> upload}}
        </div>

    </div>
</article>

<h1>{{ subject.name }}</h1>
