<article>
     <div class="right_title_detail">
        <h1>Nederlands</h1>
    </div>

    <div class="detail">
        {{> subject-buttons}}
        {{> upload}}
    </div>

    <div class="nav-contanier">
        <div class="text-contanier" >
            <p>Naam</p>
            <p>Laatst gewijzigd</p>
        </div>
        <div class="text-documenten">
               <p>wat doet de Eu.pdf</p>
               <p>23 mei 2023</p>
        </div>
    </div>
    
    
   

</article>