<article>
    <div class="rapport-link">
            <div class="rapport-link-text">
            <h1>Rapport</h1>
            </div>
            <div class="rapport-container">
                <div class="rapport-scro">
                        <div class="rapport-text">
                            <p>Goed</p>
                        </div>
                        <div class="rapport-text">
                            <p>20 juni 2023</p>
                        </div>
                        <div class="rapport-text">
                        <img src="/images/pdf.svg" alt="">
                        </div>
                </div>
            </div>
            <div class="rpport-terug-img">
               <img src="/images/terug.svg" alt="">
            </div>
    </div>

  <div class="rapport-rapport">
    <div class="rapport-link-tow">
        <div class="rapport-link-text">
            <p>Naam:<span>Noor Jana</span></p>
            <p>Klas:<span>A1</span></p>
        </div>
        <div class="rapport-link-img">
           <img src="/images/logo-school.svg" alt="">
        </div>
    </div>

    <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Nederlands</p>
         </div>
         <div class="rapport-punten">
              <p>10/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Wiskunde</p>
         </div>
         <div class="rapport-punten">
              <p>8/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Frans</p>
         </div>
         <div class="rapport-punten">
              <p>5/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Lichamelijke Opvoeding</p>
         </div>
         <div class="rapport-punten">
              <p>7/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Plastische Ovoeding</p>
         </div>
         <div class="rapport-punten">
              <p>10/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Goedsdienst</p>
         </div>
         <div class="rapport-punten">
              <p>9/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Techniek</p>
         </div>
         <div class="rapport-punten">
              <p>6/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Koken</p>
         </div>
         <div class="rapport-punten">
              <p>10/10</p>
         </div>
    </div>
     <div class="rapport-link-tow-rapport">
         <div class="rapport-vak">
              <p>Verkoop</p>
         </div>
         <div class="rapport-punten">
              <p>7/10</p>
         </div>
    </div>
</div>
</article>