<article>
    <div class="right_title_detail">
        <h1>Nederlands</h1>
    </div>

    <div class="detail">
        <div class="button-container">
            <div class="button_button">
                <button class="punten_document">
                    <img src="/images/punten.svg" alt="">
                    <p> Punten</p>
                </button>
            </div>

            <div class="button_button">
                <button class="punten_document">
                    <img src="/images/documenten.svg" alt="">
                    <p>Documenten</p>
                </button>
            </div>
        </div>

        {{> upload}}

    </div>
</article>