<article>
    <div class="rapport">
    <h1>Rapport</h1>
    </div>

        <div class="detail">
        {{> documenten-button}}
        </div>
        
        <div class="rapport-container">
            <div class="rapport-scro">
                    <div class="rapport-text">
                        <p>Goed</p>
                    </div>
                    <div class="rapport-text">
                        <p>20 juni 2023</p>
                    </div>
                    <div class="rapport-text">
                    <img src="/images/pdf.svg" alt="">
                    </div>
            </div>
        </div>

</article>

