{{> up-nav}}
<article>
    <div class="page-title">
        <h1>{{ subject.name }}</h1>
    </div>

    <div class="detail">
        {{> subject-buttons}}
        {{> upload}}
    </div>

        <div class="punten-container">
            <div class="detail_score">
                    <div class="punten-detail">
                        <p>10/10</p>
                    </div>
                            <div class="test-detail">
                                <p>Toets deel 1</p>
                            </div>
                                    <di class="date-detail">
                                    <p>23 mei 2023</p>
                                    </di>
            </div> 
        </div>
        <div class="punten-container">
            <div class="detail_score">
                    <div class="punten-detail">
                        <p>10/10</p>
                    </div>
                    <div class="test-detail">
                        <p>Toets deel 1</p>
                    </div>
                    <di class="date-detail">
                    <p>23 mei 2023</p>
                    </di>
            </div>
        </div>
        <div class="button_button">
            {{> upload}}
        </div>
        
         <div class="punten-container">
            <div class="detail_score">
                    <div class="punten-detail">
                        <p>10/10</p>
                    </div>
                            <div class="test-detail">
                                <p>Toets deel 1</p>
                            </div>
                                    <di class="date-detail">
                                    <p>23 mei 2023</p>
                                    </di>
            </div>         </div>

        </div>
</article>

