<article>
     <div class="right_title_detail">
        <h1>Test: {{ name }}</h1>
    </div>

    <div class="detail">
        {{> subject-buttons}}
        {{> upload}}
    </div>


    <div class="documenten">
        <div class="documenten-word" >
            <p>Naam</h2>
            <p>Laatst gewijzigd</h2>
        </div>
            <div class="documenten-text">
                 <img src="/images/pdf.svg" alt="">
                <p>wat doet de Eu.pdf</p>
                <p>23 mei 2023</p>
            </div>
            <div class="documenten-text">
                <img src="/images/pdf.svg" alt="">
                <p>wat doet de Eu.pdf</p>
                <p>23 mei 2023</p>
            </div>
            <div class="documenten-text">
                 <img src="/images/pdf.svg" alt="">
                <p>wat doet de Eu.pdf</p>
                <p>23 mei 2023</p>
            </div>
    </div>
</article>