<article>
    <div class="right_title_detail">
    <h1>{{subject.name}}</h1>
    </div>
        <div class="detail">
         {{> documenten-button}}
        </div>

    <div class="afwezigheid-container">
        <div class="afwezigheid-img">
           <img src="/images/groen-cirkel.svg" alt="">
        </div>
        <div class="afwezigheid-text">
            <p>Hele dag</p>
            <p>Wettig</p>
        </div>
        <div class="afwezigheid-datum">
           <p>10 mei 2023</p>
        </div>
    </div>

    <div class="afwezigheid-container">
        <div class="afwezigheid-img">
           <img src="/images/rode-cirkel.svg" alt="">
        </div>
        <div class="afwezigheid-text">
            <p>Hele dag</p>
            <p>onwettig</p>
        </div>
        <div class="afwezigheid-datum">
           <p>10 mei 2023</p>
        </div>
    </div>
    <div class="afwezigheid-container">
        <div class="afwezigheid-img">
           <img src="/images/gele-cirkel.svg" alt="">
        </div>
        <div class="afwezigheid-text">
            <p>Te Laat</p>
            <p>Wettig</p>
        </div>
        <div class="afwezigheid-datum">
           <p>10 mei 2023</p>
        </div>
    </div>

</article>