<article>
     <div class="page_title">
        <h1>Test: {{ name }}</h1>
    </div>

    <div class="detail">
        {{> subject-buttons}}
        {{> upload}}
    </div>


    <div class="documenten">
        <div class="documenten-word" >
            <p>Naam</p>
            <p>Laatst gewijzigd</p>
        </div>
        <div class="documenten-text">
            <p>wat doet de Eu.pdf</p>
            <p>23 mei 2023</p>
        </div>
    </div>
</article>