<div class="page_title">
    <h1>Test: {{ title }}</h1>
</div>

<section class="section-document">

    <div class="detail">
        {{> subject-buttons}}
        {{> upload}}
    </div>


    <section class="documenten documenten-">
        <div class="documenten-word" >
            <p>Naam</h2>
            <p>Laatst gewijzigd</h2>
        </div>

        <div class="documenten-text">
            <div>
                <img src="/images/pdf.svg" alt="">
                <p>wat doet de Eu.pdf</p>
            </div>
            <p>23 mei 2023</p>
        </div>
        <div class="documenten-text">
            <div>
                <img src="/images/pdf.svg" alt="">
                <p>wat doet de Eu.pdf</p>
            </div>
            <p>23 mei 2023</p>
        </div>
        <div class="documenten-text">
            <div>
                <img src="/images/pdf.svg" alt="">
                <p>wat doet de Eu.pdf</p>
            </div>
            <p>23 mei 2023</p>
        </div>
    </div>
</article>