<aside>
    <section class="section-profile">
        <div class="profile-icon">
            <div class="profile-img">
                <img src="/images/{{user.firstname}}.jpg" alt="Profile icon">
            </div>
        </div>
        <div>
            <h1 class="profile_name">
                <span>{{user.firstname}}</span>
                <span>{{user.lastname}}</span>
            </h1>
                    {{> user-role}}
        </div>
    </section>
<nav class="nav">
    <ul>
        <li class="nav_item">
            <a class="item_link" href="/">
                <svg class="item_icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 17.99V14.99M9.02 2.84004L3.63 7.04004C2.73 7.74004 2 9.23004 2 10.36V17.77C2 20.09 3.89 21.99 6.21 21.99H17.79C20.11 21.99 22 20.09 22 17.78V10.5C22 9.29004 21.19 7.74004 20.2 7.05004L14.02 2.72004C12.62 1.74004 10.37 1.79004 9.02 2.84004Z"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="item_title">Home</span>
            </a>
        </li>
        <li class="nav_item">
            <a class="item_link" href="/subjects">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22 11V17C22 21 21 22 17 22H7C3 22 2 21 2 17V7C2 3 3 2 7 2H8.5C10 2 10.33 2.44 10.9 3.2L12.4 5.2C12.78 5.7 13 6 14 6H17C21 6 22 7 22 11Z"
                    stroke-width="1.5" stroke-miterlimit="10" />
                </svg>
                <span class="item_title">Vakken</span>
            </a>
        </li>
    <div class="nav_menu">
        <li class="nav_dropdown">
            <p class="item_link" href="/goto">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.92 8.94995L13.4 15.47C12.63 16.24 11.37 16.24 10.6 15.47L4.08002 8.94995"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="item_title dropdown">Ga naar</span>
            </p>
            <ul class="menu" id="menu">
                <a href="/feedback">
                    <li class="nav_item">Feedback</li>
                </a>
                <a href="/absences">
                    <li class="nav_item">Afwezigheiden</li>
                </a>
                <a href="/documents">
                    <li class="nav_item">Documenten</li>
                </a>
                <a href="/rapport">
                    <li class="nav_item">Rapport</li>
                </a>
            </ul>
        </li>
    </div>
        <li class="nav_item">
            <a class="item_link" href="/contact">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="1.5"
    stroke-linecap="round" stroke-miterlimit="10" stroke-linejoin="round">
    <path d="M22 2H2v20l4-4h16V2z" />
    <line x1="22" y1="2" x2="12" y2="13" />
    <line x1="2" y1="2" x2="12" y2="13" />
</svg>

                <span class="item_title">Inbox</span>
            </a>
        </li>
        <li class="nav_item">
            <a class="item_link" href="/profile">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C10.6822 10.831 9.59461 10.3468 8.7976 9.51995C8.00059 8.69307 7.55671 7.58844 7.55997 6.43999C7.55997 3.98999 9.53997 1.99999 12 1.99999C12.5824 1.98948 13.1612 2.0938 13.7033 2.30697C14.2454 2.52014 14.7402 2.838 15.1594 3.2424C15.5787 3.6468 15.9142 4.12982 16.1468 4.66388C16.3793 5.19794 16.5045 5.77258 16.515 6.35499C16.5255 6.9374 16.4212 7.51618 16.208 8.05828C15.9948 8.60038 15.677 9.09518 15.2726 9.51444C14.8682 9.9337 14.3851 10.2692 13.8511 10.5018C13.317 10.7344 12.7424 10.8595 12.16 10.87ZM7.15997 14.56C4.73997 16.18 4.73997 18.82 7.15997 20.43C9.90997 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.91997 12.73 7.15997 14.56Z"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="item_title">Profiel</span>
            </a>
        </li>
        <li class="logout">
            <a class="logout_link" href="/logout">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.9 7.55999C9.21 3.95999 11.06 2.48999 15.11 2.48999H15.24C19.71 2.48999 21.5 4.27999 21.5 8.74999V15.27C21.5 19.74 19.71 21.53 15.24 21.53H15.11C11.09 21.53 9.24 20.08 8.91 16.54M15 12H3.62M5.85 8.64999L2.5 12L5.85 15.35"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="logout_title">Logout</span>
            </a>
        </li>
    </ul>
</nav>

</aside>