<div class="button-container">
    <div class="button_button">
        <button class="punten_document">
            <p class="punten-p"> Afwezigheid</p>
        </button>
    </div>
    
    <div class="button_button">
        <button class="punten_document">
            <p class="punten-p">Feedback</p>
        </button>
    </div>

     <div class="button_button">
        <button class="punten_document">
            <p class="punten-p">Rapport</p>
        </button>
    </div>
</div>