<a href="/feedback">
    <div class="feedback-home">
        <div class="teacher-feedback">
            <h3>{{user.firstname}} {{user.lastname}}</h3>
            <p>{{text}}</p>
        </div>
    </div>
</a>
