<form method="get" class="form-search" onsubmit="search(event)">
    <input class="search_input" name="search" placeholder="Zoeken..." />
    <button type="submit">
        <img src="/images/search.svg" alt="Zoek icon">
    </button>
</form>