<div class="button-container">
    <div class="button_button">
        <button class="punten_document">
            <img src="/images/punten.svg" alt="">
            <p class="punten-p"> Punten</p>
        </button>
    </div>
    
    <div class="button_button">
        <button class="punten_document">
            <img src="/images/documenten.svg" alt="">
            <p class="punten-p">Documenten</p>
        </button>
    </div>
</div>