<div class="button-container">
    <button href="/subjects/{{ id }}" class="btn btn--toggle btn--point">
        <img src="/images/punten.svg" alt="">
        <p class="punten-p"> Punten</p>
    </button>

    <button href="/documents" class="btn btn--toggle btn--document">
        <img src="/images/documenten.svg" alt="">
        <p class="punten-p">Documenten</p>
    </button>
</div>