{{#ifEquals user.role.label "Teacher"}}
<p class="role">Leerkracht</p>
{{/ifEquals}}
{{#ifEquals user.role.label "Admin"}}
<p class="role">Admin</p>
{{/ifEquals}}
{{#ifEquals user.role.label "Coach"}}
<p class="role">Coach</p>
{{/ifEquals}}
{{#ifEquals user.role.label "Student"}}
<p class="role">Leerling</p>
{{/ifEquals}}
