<div class="subjects_home">
   <ul class="task-list"> 
      {{#each subjects}}
      <li class="task-item">
         <a href="/subjects/{{ id }}">
         <div class="first_part">
            <div class="subject_img">
               <img src="/images/{{ name }}.svg" alt="">
            </div>
            <div class="line-home"></div>
            <div class="subject_name">
               <h3>{{ name }}</h3>
               <div class="teacher_name">
                  <p class="task_title">Toets</p>
               </div>
            </div>
         </div>
         </a>
      </li>
      {{/each}}
   </ul>
</div>
