{{!-- {{#each subjects}} --}}
<section class="subject">
      <div class="subject_img">
         <img src="/images/nederlands-svg.svg" alt="">
      </div>

      <div class="subject_vak">
         <h3>Nederlands</h3>
      </div>

      <div class="subject_naam">
         <p>Torres Sue</p>
      </div>
</section>
